{% extends "base.html" %}
{% block title %}Team History · Beer Open{% endblock %}

{% block content %}
<div class="container py-4">
  <h1 class="mb-3">Important Dates in Beer History</h1>

  <ul class="list-unstyled">
    <li><strong>1992</strong> – Founded.  Lost first game 14-6, wasn't that close.  Went 0-9.</li>
    <li><strong>1993</strong> – Convinced Neil Curran to play for us, kicked off some of the non-playing players, won first game 4-3.  Neil had a hat trick after spending the entire day drinking at Wrigley and the surrounding taverns.  Went 1-8.</li>
    <li><strong>1994</strong> – Dream Team Beer.  Went the Galactico route, got the best players in the area, lost twice to some Argentinians to finish in second.  Either 7-2 or 8-2.</li>
    <li><strong>1995</strong> – Goose joined team, most of the Galacticos departed for greener pastures.</li>
    <li><strong>1996</strong> – Pretty sure this was our first year in Palatine.  Played in the C/D division because we had the Smartest Player, not the best players, but we did win a trophy or two.  I think that was the year we had the Best Player in the Navy - turned out to be a bold-faced lie, but a pretty good one as those things went.  On the good news front, I think this was Burns' first year.</li>
    <li><strong>1997</strong> – I was in Seattle, John was in Jersey.  Was this Lipski's first year?  Or was that 96?</li>
    <li><strong>1998</strong> – John was in Jersey, I was in Guatemala.  I think this was the year Fphil finally popped his second ACL and the search for a goalie was on.</li>
    <li><strong>1999</strong> – Upon my return from Guatemala, the Smartest Player tried to keep me off the team.  I booted him off the team while I was so hammered I could barely speak.  That was awesome.  Oh yeah, we got some other guys on the team.  Um, Doyle, Goetske, Todd, and, uh...., oh yeah, Darren.  Moved up to play top division (C at the time). Pretty sure it was the first year we played Slice.  I also think that was the year I was fat enough to play goalie on a permanent basis.</li>
    <li><strong>2000</strong> – Darren was at the peak of his powers.  He won a session utterly and completely on his own.  Look, I don't like to feed Darren's ego anymore than anyone else, but I honestly think the rest of us stood around watching while he scored 5-7 goals a game.  And every now and then, Doyle would whack someone out of boredom.  This also might have been the year of the Captain Furious Incident.</li>
    <li><strong>2001</strong> – Played the night of 9/11 (nope, they did not cancel the game) and we won.  I also think that was the year we had Sergio on the team for a session.</li>
    <li><strong>2002</strong> – After kicking our a$$ on a regular basis, we talked Pony Tail Guy (better known as Karl) and his very angry brother Ross into playing with us.  A new era of Beer Dominance begins (total guess on this by the way - I feel like I have been playing with Karl since I was 3).  Darren's reaction to the Karl acquisition: 'We got Pony Tail Guy?  No f&cking way!'</li>
    <li><strong>2003</strong> – first year of the Beer Open, held in Antioch.</li>
    <li><strong>2004</strong> – Moroney and Melzl joined, I think</li>
    <li><strong>2005</strong> – Marinelli joined?  Or was it the next year?</li>
    <li><strong>2006</strong> – I think this was the year of our 37 week undefeated string, from April or May on we won 32 and tied 5 to finish out the year unbeaten with three trophies and lined up to play for our fourth in the first game of the new year.....</li>
    <li><strong>2007</strong> – ....which we lost to the team with diamond earring boy.  First year at Madison, played Open Division, decided it was a poor choice but that the Essen House rocked.  Josh joined the team as well, I believe.</li>
    <li><strong>2008</strong> – Andres joined?</li>
    <li><strong>2009</strong> – Second Year at Madison.  Over 30.  Did ok, but so physically beat up afterwards that we only won like 5% of our games for the next year.  No lies.  Sizzles joined the team, I think.</li>
    <li><strong>2010</strong> – We won our latest championship.  Conway and the Anderson brothers got talked into playing with us.</li>
    <li><strong>2011</strong> – We had a game cancelled because of a little snow.</li>
  </ul>
</div>
{% endblock %}
