{% extends "base.html" %}
{% block title %}Team History · Beer Open{% endblock %}

{% block content %}
<div class="container py-4">
  <h1 class="mb-3">Important Dates in Beer History</h1>

  <ul class="list-unstyled">
    <li><strong>1992</strong> – Team founded by John Prouty, Chris Prouty, and Fphil De Craene.  Lost first game 14-6, wasn't that close.  Went 0-9.</li>
    <li><strong>1993</strong> – Convinced Neil Curran to play for us, kicked off some of the non-playing players, won first game 4-3.  Neil had a hat trick after spending the entire day drinking at Wrigley and the surrounding taverns.  Went 1-8.</li>
    <li><strong>1994</strong> – Dream Team Beer.  Went the Galactico route, got the best players in the area, lost twice to some Argentinians to finish in second.  Either 7-2 or 8-2.</li>
    <li><strong>1995</strong> – Goose joined team, most of the Galacticos departed for greener pastures.</li>
    <li><strong>1996</strong> – Our first year in Palatine.  Played in the C/D division because we had the Smartest Player, not the best players, but we did win a trophy or two.  That was the year we had the Best Player in the Navy - turned out to be a bold-faced lie, but a pretty good one as those things went.  On the good news front, this was Eric Burns' first year.</li>
    <li><strong>1997</strong> – Chris Prouty was in Seattle, John Prouty was in New Jersey.  Scott Lipski's first year.</li>
    <li><strong>1998</strong> – John Prouty was in New Jersey, Chris Prouty was in Guatemala.  Fphil finally popped his second ACL and the search for a goalie was on.</li>
    <li><strong>1999</strong> – Big re-org for the team.  Some long time players were politely asked to leave. Doyle, Goetske, Todd Weiss, and Darren Tait joined the team.  Moved up to play top division (C at the time). The first year we played against Slice who eventually became our arch rivals in the Palatine Classico.</li>
    <li><strong>2000</strong> – Darren Tait was at the peak of his powers.  He won a session utterly and completely on his own.  Look, we don't like to feed Darren's ego, but we mostly stood around watching while he scored 5-7 goals a game.  And every now and then, Doyle would whack someone out of boredom.  This was also the year of the Captain Furious Incident.</li>
    <li><strong>2001</strong> – Played the night of 9/11 (nope, they did not cancel the game) and we won.  That was the year we had Sergio on the team for a session.  Good times.</li>
    <li><strong>2002</strong> – After kicking our a$$ on a regular basis, we talked Pony Tail Guy (better known as Karl Krewenka) and his very angry brother Ross into playing with us.  A new era of Beer Dominance begins.  Darren's reaction to the Karl acquisition: 'We got Pony Tail Guy?  No f&cking way!'</li>
    <li><strong>2003</strong> – First year of the Beer Open, held in Antioch.</li>
    <li><strong>2004</strong> – Mark Moroney and Tom Melzl joined</li>
    <li><strong>2005</strong> – Chris Marinelli joined</li>
    <li><strong>2006</strong> – The year of our 37 week undefeated string, from April or May on we won 32 and tied 5 to finish out the year unbeaten with three trophies and lined up to play for our fourth in the first game of the new year.....</li>
    <li><strong>2007</strong> – ....which we lost to the team with diamond earring boy.  First year at Madison, played Open Division, decided it was a poor choice but that the Essen House rocked.  Josh Goldkamp joined the team.</li>
    <li><strong>2008</strong> – Andres joined</li>
    <li><strong>2009</strong> – Second Year at Madison.  Over 30.  Did ok, but so physically beat up afterwards that we only won like 5% of our games for the next year.  No lies.  Pat 'Sizzles' Collins joined the team.</li>
    <li><strong>2010</strong> – Matt Conway and the Anderson brothers joined.</li>
    <li><strong>2011</strong> – We had a game cancelled because of a little snow.</li>
  </ul>
</div>
{% endblock %}
